<%- include partials/header.ejs %>

<header>
   <nav id="navbar" class="nav-colored">
      <img src="images/mda.png" alt="MDA logo" class="logo">
      <ul class="menu">
         <li class="nav-item">
            <a href="/" class="nav-link" rel="noopener">Home</a>
         </li>
         <li class="nav-item">
            <a href="courses" class="nav-link" rel="noopener">Courses</a>
         </li>
         <li class="nav-item">
            <a href="contact" class="nav-link" rel="noopener">Contact Us</a>
         </li>
         <li class="nav-item">
            <% if (!username){ %>
               <a href="signup" role="button" class="signup-btn" rel="noopener">Sign Up</a>
               <% } else { %>
                  <a href="logout" role="button" class="signup-btn" rel="noopener">Profile</a>
                  <% } %>
         </li>
      </ul>
      <!-- Butoni i animacionit te navigimit responsive-->
      <div class="hamburger">
         <span class="bar"></span>
         <span class="bar"></span>
         <span class="bar"></span>
      </div>
   </nav>
</header>

<h1 class="profile-heading">Your Profile</h1>
<hr class="profile-hr">
<div class="profile">
      <div class="user">
         <% if(typeof alert3 != 'undefined') { %>
         <div class="success">
            <span class="success-close">&times;</span>
            <p><strong>Success!</strong><%= alert3.msg %></p>
         </div>
         <% } %>
         <!-- Imazhi i perdoruesit -->
         <img src=<%= pfp %> loading="lazy" alt="avatar">
         <!-- Emri i perdoruesit-->
         <h1><i class="far fa-user"></i><%= username %> <button id="editBtn" aria-label="Edit"> <i class="fas fa-pencil-alt"></i></button></h1>
         <!-- Emaili i perdoruesit-->
         <h2><i class="far fa-envelope-open"></i><%= email %></h2>
         <a href="logout" role="button" rel="noopener">Log Out</a>
      </div>
      <div class="user-course">
         <!-- Kurset e blera nga perdoruesi -->
         <h1>These are the bought courses: </h1>
         <h2>Learn FrontEnd <span style="float: right;">&#36;50</span></h2>
         <h2>Learn BackEnd <span style="float: right;">&#36;50</span></h2>
         <h2>Learn DevOPS <span style="float: right;">&#36;50</span></h2>
         <h2>Learn MachineLearning <span style="float: right;">&#36;50</span></h2>
         <h2>Learn AI <span style="float: right;">&#36;50</span></h2>
         <h2>Learn Database <span style="float: right;">&#36;50</span></h2>
      </div>
</div>

<!-- Profile Modal (start)-->
<div class="edit" id="editProfile">
   <div class="edit-content">
         <form  method="POST" action="/edit" class="form-edit">
            <h1><span class="close-edit">&times;</span></h1>
            <img src="images/avatar.png" alt="avatar" width="200px" height="200px">
            <label for="avatar">Change avatar:</label>
            <input type="file" name="avatar" accept="image/png, image/jpeg">
            <label for="editName"></label>
            <input type="text" name="editName" placeholder="Change username" autocomplete="username">
            <label for="editPass"></label>
            <input type="password" name="editPass" placeholder="Change your password" minlength="8" id="passw" autocomplete="new-password">
            <i id="passeye" class="far fa-eye" onclick="viewPassword()"></i>
            <label for="repeatPass"></label>
            <input type="password" name="repeatPass" placeholder="Repeat password" min-length="8" id="repeat-passw" autocomplete="new-password" required> 
            <i id="repeat-eye" class="far fa-eye" onclick="repeatPass()"></i>
            <input type="submit" value="Save">
         </form>
   </div>
</div>
<!-- Profile Modal (end)-->

<!-- Funksion ne JS per te shfaqur settings te perdoruesit-->
<script>
   const editModal = document.getElementById("editProfile");
   const editBtn = document.getElementById("editBtn");
   const closeEdit = document.getElementsByClassName("close-edit")[0];

   editBtn.onclick = function() {
      editModal.style.display = "block";
   }

   closeEdit.onclick = function() {
      editModal.style.display = "none";
   }

   window.onclick = function(event) {
      if(event.target == editModal) {
         editModal.style.display = "none";
      }
   }

</script>


  <!-- Footer (start) -->
  <footer class="footer footer-profile">
   <img src="images/mda.png" loading="lazy" alt="logo" class="footer-logo">
   <section class="bottom-nav">
      <a href="/" rel="noopener">Home</a>
      <a href="courses" rel="noopener">Courses</a>
      <a href="contact" rel="noopener">Contact Us</a>
      <a href="signup" rel="noopener">Sign Up</a>
   </section>

   <!-- Rrjetet sociale -->
   <section class="social">
      <a href="https://github.com/MrMothDevs" target="_blank" title="Github/MrMothDevs" rel="noopener"><i class="fab fa-github"></i></a>
      <a href="https://www.youtube.com/channel/UCnPiMm-Jp4P5B2dy7SstDjA" target="_blank" title="Youtube/MrMoth" rel="noopener"><i class="fab fa-youtube"></i></a>
      <i class="fab fa-twitter"></i>
      <a href="https://discord.io/remixor" target="_blank" rel="noopener"><i class="fab fa-discord" title="Discord Server/Remixor"></i></a>
   </section>
   <hr>
   <p>&copy; Copyright by <strong><a href="#home" title="Go to Top" rel="noopener">MDA</a></strong> 2021. All Rights Reversed</p>
</footer>
<!-- Footer (end) -->

<!-- JavaScript -->

<!-- JS per funksionin e passwordit-->
<script src="js/password.js"></script>

<!-- JS per funksionin e preloaderit -->
<script src="js/loader.js"></script>

<!-- JS per funksionin e shfaqjes se butonit dark mode -->
<script src="js/switcher.js"></script>

<!-- JS per backgroundin -->
<script src="js/particles.js"></script>
<script src="js/particles.app.js"></script>

<!-- JS per funksionin e butonit qe te con ne fillim te faqes -->
<script src="js/scroll.js"></script>

<!-- Js per funksionin e shfaqjes se navigimit ne mobile -->
<script src="js/navbar.js"></script>

<!-- Carousel JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>